<section>
    <h2>Crie Sua Propria Sala</h2>
    <form action="">
        <label class= "sr-only" for="room-pass">Codigo da sala</label>
        <input type="password" id="room-pass" placeholder="Insira uma senha">
        <button>
            <img src="images/users-white.svg" alt="Entrar na Sala">
            Criar Sala
        </button>
    </form>
</section>